<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Order Management Approval</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/styles.css" rel="stylesheet">
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OrderManagementApproval</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    <header>
        <nav class="navbar"  style="background-color: #E7F8F0!important">
            <!-- <div class="container" style="background-color: #E7F8F0!important">-->
            <div id="image" class="col-1">
                <img src="~/Images/logo.png" height="70" width="70" />
                
            </div>
            <div id="text" class="col-11"style="float:left;font-size: medium;font-family:Arial;font-weight:Bold;align-self: flex-end;">ORDER MANAGEMENT SYSTEM</div>
            <!--</div>-->
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="footnote col-1">
                <span>Powered By</span><br />
                <img src="~/Images/icons/logo_devlup_home_v2.jpg" width="100" height="70" />
            </div>
            <div class="footnote col-10">
                <span>&nbsp;</span><br />
                <span>&nbsp;</span><br />
                <span class="footertext">Copyrights © 2020 Devlup Solutions</span><br />
                <span class="footertext">All rights reserved.</span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
