<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <!--<add name="SqlConnection" connectionString="Data Source=52.172.199.4;Initial Catalog=OrderManagement;Persist Security Info=True;User ID=testomt;Password=Adminomt@2020"/>-->
  <add name="SqlConnection" connectionString="Data Source=106.51.136.135;Initial Catalog=OrderManagement;Persist Security Info=True;User ID=sa;Password=Adminomt@2020"/>
  </connectionStrings>
    <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <appSettings>
    <add key="MailFrom" value="slpprenew@gmail.com"/>
    <add key="Username" value="slpprenew@gmail.com"/>
    <add key="Host" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="Password" value="Slpp@0987"/>
    <add key="Subject" value="Indent Approval"/>
  </appSettings>
</configuration>