@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <h5>ORDER MANAGEMENT SYSTEM ></h5>
    </div>
    <button type="button">
        Log Off
    </button>
</div>