@model List<OrderManagementApproval.Models.ModelApprovalStatus>

@{
    ViewData["Title"] = " Indent Approval Page ";
}

@*<div style="background-color:#ffffff;align-self:center" >*@
<div class="container align-content-center col-md-10">
    <form asp-action="UpdateIndentStatus" method="post">
        <div class=" align-items-center justify-content-center" style="background-color : white">
            <div class="row">&nbsp;</div>
            <div class="row">
                <!--<label for="UserName">User Name</label>-->
                <label class="col-md-4 float-left text-right label">Indent Number</label>
                <input type="text" class="textboxinner" name="IndentNumber" id="IndentNumber" disabled value="@ViewBag.IndentNo" />
                <input type="hidden" name="IndentNo" value="@ViewBag.IndentNo" />
                <input type="hidden" id="ApprovalStatus" name="ApprovalStatus" value="@ViewBag.ApprovalStatus" />
            </div>
            <div class="vs10">&nbsp;</div>
            <div class="inner-addon left-addon">
                <label class="col-md-4 float-left text-right label" name="IndentStatus">Indent Status</label>
                @*<div class="col-md-2 float-left text-left">*@
                <select name="UpdateStatus" class="dropdowninner" id="UpdateStatus" onchange="indentStatusCheck(event)">
                    <option class="optiontext"> Select Status </option>
                    @foreach (var item in Model)
                    {
                        <option> @item.Status</option>
                    }
                </select>
                @*</div>*@
            </div>
            <div class="vs10">&nbsp;</div>
            <div class="inner-addon left-addon">
                <label class="col-md-4 float-left text-right label" name="Remarks">Remarks</label>
                <textarea class="col-md-6 float-left text-left textareainner" id="txtarea_Remarks" name="TextArea"></textarea>
            </div>
            <div class="vs10">&nbsp;</div>
            <div class="row-center">
                <input type="submit" class="button buttonsubmit" value="Submit" id="ApprovalSubmit" disabled />
                <div class="row">&nbsp;</div>
            </div>
            <div id="indentDetails">
            </div>
        </div>
    </form>
</div>
@*</div>*@
<script src="~/js/Validation.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    var ApprovalStatus = document.getElementById("ApprovalStatus").value;
    document.getElementById("UpdateStatus").value = ApprovalStatus;

    if (ApprovalStatus.localeCompare("Awaiting Approval")) {
        $("#UpdateStatus").prop("disabled", true);
        $("#txtarea_Remarks").prop("disabled", true);
    }

    $(document).ready(function () {
        GetIndentDetails();
    });
    function GetIndentDetails() {
        var indentNo = document.getElementById("IndentNumber").value;
        URL = "/Home/GetIndentDetails/" + indentNo;
        $.get(URL, {}, function (data) {
            var tblEmployee = $("#indentDetails");
            var tr = "<html> <head> <style>.tableborder{border:1px; border-style:solid; border.color:red;}.tdDist{width: 100%;}</style> </head> <body> <table width='100%' border=1 border-style='solid' border-color='#8CBD48'> <tr> <td colspan=9 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana; vertical-align:middle'><h2><i><center>SLPP RENEW LLP<center></i></h2></td></tr><tr> <td colspan=9 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;vertical-align:middle'><h2><center><i><u>MATERIAL INDENT FORM</u></i></center></h2></td></tr><tr> <td colspan=7 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'><i>Related WBS No: </i></td><td style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'><i>Indent No :</td><td style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'>";
            tr = tr + "<i>" + indentNo + "</i>";
            tr = tr + " " + ("</td></tr><tr> <td colspan=7 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'><i>Approved By: </i></td><td style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'><i>Approved On :</td><td style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'><i></i></td></tr></table> <table width='100%' border=1 border-style='solid' border-color='#8CBD48'> <tr style='background-color:#609F19;color:#FFFFFF;font-family:Verdana;font-size:11;vertical-align:middle'><td>Sl. No</td><td>Item Code</td><td>Item Category Name</td><td>Item Name</td><td>Technical Specifications</td><td>Units</td><td>Quantity</td><td>Remarks</td></tr>")
            $.each(data.gridIndents, function (i, val) {
                tr = tr + " " + "<tr>";
                tr = tr + " " + ("<td>" + val.slNo + "</td>");
                tr = tr + " " + ("<td>" + val.itemCode + "</td>");
                tr = tr + " " + ("<td>" + val.itemCategoryName + "</td>");
                tr = tr + " " + ("<td>" + val.itemName + "</td>");
                tr = tr + " " + ("<td>" + val.technical_Specifications + "</td>");
                tr = tr + " " + ("<td>" + val.units + "</td>");
                tr = tr + " " + ("<td>" + val.quantity + "</td>");
                tr = tr + " " + ("<td>" + val.remarks + "</td>");
                tr = tr + " " + "</td>";
            })
            tr = tr + " " + (" </tr><tr> <td colspan=9 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;font-size:11;vertical-align:middle'><i>Revision Remarks: </i></td></tr><tr> <td colspan=9 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;font-size:11;vertical-align:middle'><i>1. </i></td></tr><tr> <td colspan=9 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;font-size:11;vertical-align:middle'><i>2. </i></td></tr></table><div class='row'>&nbsp;</div><div class='row'>&nbsp;</div><div class='row'>&nbsp;</div><div class='row'>&nbsp;</div><div class='row'>&nbsp;</div></body></html>")
            $("#indentDetails").append(tr);
        });
    };

</script>