@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<OrderManagementApproval.Models.SaveIndent>
<html>
<head>
    <style>
        .tableborder {
            border: 1px;
            border-style: solid;
            border .color:red;
        }

        .tdDist {
            width: 100%;
        }
    </style>
</head>
<body>
    <table width='60%' border=1 border-style='solid' border-color='#8CBD48'>
        <tr>
            <td colspan=9 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana; vertical-align:middle'>
                <h2>
                    <i>
                        <center>
                            SLPP RENEW LLP
                            <center>
                    </i>
                </h2>
            </td>
        </tr>
        <tr>
            <td colspan=9 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;vertical-align:middle'>
                <h2>
                    <center><i><u>MATERIAL INDENT FORM</u></i></center>
                </h2>
            </td>
        </tr>
        <tr>
            <td colspan=7 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'><i>Related WBS No: </i></td>
            <td style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'><i>Indent No :</td>
            <td style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'><i>@ViewBag.IndentNo</i></td>
        </tr>
        <tr>
            <td colspan=7 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'><i>Approved By: </i></td>
            <td style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'><i>Approved On :</td>
            <td style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;'><i></i></td>
        </tr>
    </table>
    <table width='60%' border=1 border-style='solid' border-color='#8CBD48'>
        <tr style='background-color:#609F19;color:#FFFFFF;font-family:Verdana;font-size:11;vertical-align:middle'>
            <td>Item Code</td>
            <td>Item Category Name</td>
            <td>Item Name</td>
            <td>Technical Specifications</td>
            <td>Units</td>
            <td>Quantity</td>
            <td>Remarks</td>
        </tr>
        @{
            foreach (var i in @Model)
            {
                <tr style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;font-size:11;'>
                    <td>" + i.ItemCode + "</td>
                    <td>" + i.ItemCategoryName + "</td>
                    <td>" + i.ItemName + "</td>
                    <td>" + i.Technical_Specifications + "</td>
                    <td>" + i.Units + "</td>
                    <td>" + i.Quantity + "</td>
                    <td>" + i.Remarks + "</td>
                </tr>
                }
            }
            <tr>
                <td colspan=7 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;font-size:11;vertical-align:middle'><i>Revision Remarks: </i></td>
            </tr>
            <tr>
                <td colspan=7 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;font-size:11;vertical-align:middle'><i>1.          </i></td>
            </tr>
            <tr>
                <td colspan=7 style='background-color:#EBF8F0;color:#6C6C6C;font-family:Verdana;font-size:11;vertical-align:middle'><i>2.          </i></td>
            </tr>
        </table>
    </body>
</html>
