
<div class="topFrame">
    <div class="innerTopFrame">
        <section class="main-container box-shadow-light">
            <section id="mainForm">
                <div class="content-center">
                    <div class="title-logo">

                    </div>
                    @*<div class="login-logo"><img src="~/Content/images/rico-logo.png" alt="RICO"></div>*@
                    <div class="vs5">&nbsp;</div>
                    <div class="main-form">
                        <div class="row">
                            <div class="alert-success">
                                @ViewBag.Message
                            </div>
                        </div>
</div>
</div>
</section>
</section>
</div>
</div>